<%- include header %>
<ul style="list-style:none">
	<li>
		<h3><a href="#">支付宝公益网</a></h3>
	</li>
	<li>
		<h3><a href="http://www.imaiji.com" target="_BLANK">爱麦吉科学</a></h3>
	</li>	
</ul>
<%- include footer %>