<%- include header %>
<form action="" method="post">
	userName:<input type="text" name><br>
	password: <input type="password" name="password"><br>
	<input type="submit" value="login">
</form>
<%- include footer%>