<%- include header %>
<form action="/post" method="post">
	<input type="text" name="title"><br>
	<textarea name="post" id="" cols="100"  rows="20"></textarea><br>
	<input type="submit" value="post">
</form>
<%- include footer %>